@import "tailwindcss";

@layer base {
  button {
    cursor: pointer;
  }
}

@layer components {
  .p-container {
    @apply px-5 py-5;
  }
  .p-item {
    @apply px-4 py-2;
  }
  .topbar-icon {
    @apply bg-[#1F243A] rounded-full text-white px-3 py-2 duration-200 cursor-pointer;
  }
  .topbar-icon:hover,
  .topbar-icon:active {
    @apply bg-[#4A90E2];
  }
  .table-btn {
    @apply bg-[#4A90E2] w-1/2 rounded-2xl cursor-pointer text-white font-bold hover:bg-[#4A90E2]/80 text-sm duration-200;
  }
}
