@import "tailwindcss";

body {
  @apply min-h-screen w-full bg-[#0D111F];
}

@layer base {
  button {
    cursor: pointer;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .p-container {
    @apply px-4 py-4;
  }
  .p-item {
    @apply px-3 py-2;
  }
  .topbar-icon {
    @apply bg-[#1F243A] rounded-full text-white px-3 py-2 duration-200 cursor-pointer md:text-base text-sm;
  }
  .topbar-icon:hover,
  .topbar-icon:active {
    @apply bg-[#4A90E2];
  }
  .table-btn {
    @apply w-1/2 rounded-2xl cursor-pointer text-white font-bold hover:bg-[#4A90E2]/80 text-[0.8rem] duration-200;
  }
  .table-option {
    @apply text-white outline-none border-none w-full;
  }
  .table-input {
    @apply placeholder:text-gray-400 text-white w-full border-none outline-none;
  }
  .table-exchange {
    @apply w-full bg-black rounded-2xl;
  }
}
